/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

img {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

/* cheese-image */
.hero-image {
	position: relative;
}

.hero-image__text {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	white-space: nowrap;
}

.hero2-image__text {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #fff;
	font-size: 36px;
	white-space: nowrap;
}


/* header */
.header {
	background-color: #efefef;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.site-title {
	font-size: 21px;
}

.nav-list {
	display: flex;
}

.nav-item {
	margin: 0 0 0 48px;
}

.nav-item>a {
	color: black;
}

/* about */
.profile {
	padding: 120px 0;
}

.profile-wrapper {
	width: 960px;
	margin: auto;
}

.profile__title {
	margin: 0 0 24px;
	font-size: 24px;
	color: #ffd61a;
}

.profile__eyecatch {
	margin: 0 0 64px;
}

.profile__text {
	margin: 0 0 40px;
}

.profile__text {
	line-height: 2;
}

.profile__last {
	margin: 0 0 80px;
}

/* course */

.course__fast {
	margin: 0 0 64px;
}

.picture {
	display: flex;
}

.picture-left {
	width: 50%;
}

.word-right {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #bce2e8
}

.picture-right {
	width: 50%;
}

.word-left {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #bce2e8
}

.cat {
	color: #222;
	font-size: 24px;
	margin: 30px;
	padding-left: 48px;
}

.dog {
	padding-left: 48px;
	padding-right: 60px;
}


/* news */
.wrapper {
	max-width: 960px;
	margin: auto;
}

.works {
	padding: 64px 0;
}

.works__list {
	display: flex;
}

.profile__news {
	margin: 0 0 64px;
}

.works__item {
	width: 33.333%;
}

.works__title {
	font-size: 16px;
	font-weight: bold;
	color: #ffd61a;
}

.works__eyecatch {
	margin: 0 0 32px;
}

.works__heading {
	margin: 0 0 24px;
}

.works__footing {
	line-height: 1.75;
	width: 90%;
	margin: 0 0 56px;
}

.btn {
	display: block;
	width: 300px;
	margin: auto;
	padding: 10px 0;
	background-color: #ffd61a;
	color: #fff;
	font-size: 21px;
}

/* access */
.accessmap {
	padding: 64px 0;
	background-color: #fafafa;
}

.accessmap-wrapper {
	width: 960px;
	margin: auto;
}


/* contact */
.contact {
	padding: 80px 100px;
}

.contact__title {
	margin: 0 0 80px;
	font-size: 2.4rem;
	font-weight: bold;
}

.form-wrapper {
	width: 700px;
	margin: auto;
}

.form-inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 40px;
}

.form-title {
	width: 198px;
	margin: 0 120px 0 0;
	padding: 8px 0 0 0;
}

.form-title.check-radio {
	padding: 0;
}

.form-item {
	width: 382px;
	margin: 0 0 24px;
}

.form-parts {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: solid 1px #bfbfbf;
	font-size: 16px;
}

input[type*="radio"] {
	appearance: none;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 14px;
	height: 14px;
	margin: 0 40px 0 0;
	border: solid 1px #f0ebe5;
}

input[type*="radio"] :cheaked {
	background-color: #f0ebe5;
}

.btn-submit {
	-webkit-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;

}

/* footer */
.footer {
	padding: 24px 0;
	background-color: #707070;
}

.copyrights {
	color: #fff;
}

.btm-sumit {}

/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/